<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"href="static/css/style.css">
    <title>Home</title>
    <script src="static/js/Evaluate.js"></script>
</head>
<body>
    <nav class="navbar">
        <h1>Rooting</h1>
        <ul id="navlist">
            <a href="/home"><li>Home</li></a>
            <a href="/signup"><li>Sign Up</li></a>
            <a href="/signin"><li>Sign In</li></a>
            <a href="/about"><li>About Us</li></a>
        </ul>
    </nav>
    {%block content%}
    <h1>Customer Care Registry</h1>
    <br><br><br><br>
    <h3>{{ messge }} {{ firstname }}</h3>
    {%endblock%}
</body>
</html>
